<!DOCTYPE html>
<html lang="ru" xmlns:layout="https://www.thymeleaf.org/"
      layout:decorate="~{layouts/layout.html}">
<head>
  <meta charset="UTF-8">
  <title>Анализатор страниц</title>
  <link rel='stylesheet' href='/webjars/bootstrap/5.2.3/css/bootstrap.min.css'>
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<section layout:fragment="content">
<main>
  <div th:if="${session.flash != null}">
      <div class="alert alert-danger" role="alert">
        <span th:text="${session.flash}" bgcolor="red"> </span>
      </div>
  </div>

  <div class="container-xxl">
    <h1 th:text="'Сайт ' + ${session.url.getName()}">Сайт http://...</h1>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th th:text="${session.url.getId()}">ID from Thymeleaf</th>
      </tr>
      <tr>
        <th>Имя</th>
        <th th:text="${session.url.getName()}">Name from Thymeleaf</th>
      </tr>
      <tr>
        <th>Дата создания</th>
        <th th:text="*{#temporals.format(session.url.getCreatedAt(), 'dd/MM/yy HH:mm')}">Creation Date from Thymeleaf</th>
      </tr>
    </table>
  </div>

  <div class="container-xxl">
    <h1 th:text="Проверки">Проверки</h1>
    <form method="post" th:action="'/urls/' + ${session.url.getId()} + '/checks'">
      <button type="submit" class="h-100 btn btn-lg btn-primary mb-2">Запустить проверку</button>
    </form>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>title</th>
        <th>h1</th>
        <th>description</th>
        <th>Дата проверки</th>
      </tr>
      </thead>
      <tr th:each="urlCheck : ${session.url.getUrlChecks()}">
        <td th:text="${urlCheck.id}">def id</td>
        <td th:text="${urlCheck.statusCode}">def status code</td>
        <td th:text="${urlCheck.title}">def title</td>
        <td th:text="${urlCheck.h1}">def h1</td>
        <td th:text="${urlCheck.description}">def description</td>
        <td th:text="*{#temporals.format(urlCheck.getCreatedAt(), 'dd/MM/yy HH:mm')}">def last checked</td>
      </tr>
    </table>
  </div>

</main>
</section>
</body>
</html>