<!DOCTYPE html>
<html lang="ru" xmlns:layout="https://www.thymeleaf.org/"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Анализатор страниц</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.2.3/css/bootstrap.min.css'>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<section layout:fragment="content">
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tr th:each="url : ${urls}">
            <td th:text="${url.id}">URL id</td>
            <td>
                <a th:text="${url.name}" th:href="'/urls/' + ${url.getId()}">name</a>
            </td>
            <td>
                <div th:if="${urlChecks.get(url.getId()) != null}">
                    <div th:text="*{#temporals.format(urlChecks.get(url.getId()).getCreatedAt(), 'dd/MM/yy HH:mm')}">Latest check date or null</div>
                </div>
            </td>
            <td>
                <div th:if="${urlChecks.get(url.getId()) != null}">
                    <div th:text="${(urlChecks.get(url.getId())).getStatusCode()}">Status Code or null</div>
                </div>
            </td>
        </tr>
    </table>
</div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ' '}">
                <a class="page-link" th:href="@{/urls(page=${currentPage - 1})}">Previous</a>
            </li>
            <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' disabled' : ''}">
                <a class="page-link" th:href="@{/urls(page=${page})}" th:text="${page}">page</a>
            </li>
            <li th:class="'page-item' + ${currentPage >= pages.size() ? ' disabled' : ' '}">
                <a class="page-link" th:href="@{/urls(page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>