<!DOCTYPE html>
<html lang="ru" xmlns:layout="https://www.thymeleaf.org/"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Анализатор страниц</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.2.3/css/bootstrap.min.css'>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<section layout:fragment="content">
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tr th:each="url : ${session.urls}">
            <td th:text="${url.id}">def id</td>
            <td>
                <a th:text="${url.name}" th:href="'/urls/' + ${url.getId()}">def name</a>
            </td>
            <td th:text="*{#temporals.format(url.getLatestCheck(), 'dd/MM/yy HH:mm')}">def last checked</td>
            <td th:text="${url.getLatestStatus()}">def feedback code</td>
        </tr>
    </table>
</div>
</section>
</body>
</html>